<?xml version="1.0" encoding="UTF-8" ?>
<!--

       Copyright 2009-2016 the original author or authors.

       Licensed under the Apache License, Version 2.0 (the "License");
       you may not use this file except in compliance with the License.
       You may obtain a copy of the License at

          http://www.apache.org/licenses/LICENSE-2.0

       Unless required by applicable law or agreed to in writing, software
       distributed under the License is distributed on an "AS IS" BASIS,
       WITHOUT WARRANTIES OR CONDITIONS OF ANY KIND, either express or implied.
       See the License for the specific language governing permissions and
       limitations under the License.

-->
<!DOCTYPE mapper
  PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
  "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="com.zgb.mybatis.demo.UserMapper">

  <select id="selectUser" parameterType="int" resultType="com.zgb.mybatis.demo.UserDO" useCache="true">
    select id, name, city from users where id = #{id}
  </select>

  <update id="updateUserById" parameterType="userDo">
    update users set name = #{name}, city = #{city} where id = #{id}
  </update>

  <select id="listByConditions" parameterType="studentQuery" resultMap="BaseResultMap">
    select
    <include refid="Base_Column_List" />
    from t_student
    <where>
      <if test="ids != null and ids.size() > 0">
        AND id IN
        <foreach collection="ids" item="item" open="(" close=")" separator=",">
          #{item}
        </foreach>
      </if>
      <if test="name != null and name != ''">
        AND name LIKE CONCAT('%', #{name}, '%')
      </if>
      <if test="sex != null">
        AND sex = #{sex}
      </if>
      <if test="selfcardNo != null">
        AND selfcard_no = #{selfcardNo}
      </if>
    </where>
  </select>

</mapper>
